@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Paytone+One&display=swap');
body{
    background-image: url("./assets/bandera.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(180deg, #EBF5FF 0%, #D2EAFF 100%), #FFF; */
    height: 98vh;
}
@media screen and (max-width:600px){
    body{
        height: 100%;
    }
}